In [47]:
import pandas as pd
from sqlalchemy import create_engine
from config import pw
import psycopg2

In [48]:
filepath = "Resources/film_performance.csv"
df1 = pd.read_csv(filepath)

filepath = "Resources/movies.csv"
df2 = pd.read_csv(filepath)

In [49]:
engine = create_engine(f'postgresql://postgres:{pw}@localhost:5432/Movies-Final')
connection = engine.raw_connection()

In [50]:
df1

,Year,WorldwideBoxOffice,DomesticBoxOffice,InternationalBoxOffice,category,winner,nomination_count,movie_ID
0,2009,2.845900e+09,760507625.0,2.085392e+09,ART DIRECTION,True,9,0
1,2009,2.845900e+09,760507625.0,2.085392e+09,CINEMATOGRAPHY,True,9,0
2,2009,2.845900e+09,760507625.0,2.085392e+09,DIRECTING,False,9,0
3,2009,2.845900e+09,760507625.0,2.085392e+09,FILM EDITING,False,9,0
4,2009,2.845900e+09,760507625.0,2.085392e+09,MUSIC (Original Score),False,9,0
...,...,...,...,...,...,...,...,...
919,2000,2.578052e+08,125548685.0,1.322566e+08,ACTOR IN A SUPPORTING ROLE,False,5,253
920,2000,2.578052e+08,125548685.0,1.322566e+08,ACTRESS IN A LEADING ROLE,True,5,253
921,2000,2.578052e+08,125548685.0,1.322566e+08,DIRECTING,False,5,253
922,2000,2.578052e+08,125548685.0,1.322566e+08,BEST PICTURE,False,5,253
923,2000,2.578052e+08,125548685.0,1.322566e+08,WRITING (Screenplay Written Directly for the S...,False,5,253

In [51]:
df1.to_sql('film_performance', con=engine, if_exists='replace')

In [52]:
df2.to_sql('movies', con=engine, if_exists = 'replace')

In [53]:
checkq = pd.read_sql_query('''SELECT * FROM film_performance''',
                          connection)
checkdf = pd.DataFrame(checkq, columns=checkq.columns)

In [54]:
checkdf

,index,Year,WorldwideBoxOffice,DomesticBoxOffice,InternationalBoxOffice,category,winner,nomination_count,movie_ID
0,0,2009,2.845900e+09,760507625.0,2.085392e+09,ART DIRECTION,True,9,0
1,1,2009,2.845900e+09,760507625.0,2.085392e+09,CINEMATOGRAPHY,True,9,0
2,2,2009,2.845900e+09,760507625.0,2.085392e+09,DIRECTING,False,9,0
3,3,2009,2.845900e+09,760507625.0,2.085392e+09,FILM EDITING,False,9,0
4,4,2009,2.845900e+09,760507625.0,2.085392e+09,MUSIC (Original Score),False,9,0
...,...,...,...,...,...,...,...,...,...
919,919,2000,2.578052e+08,125548685.0,1.322566e+08,ACTOR IN A SUPPORTING ROLE,False,5,253
920,920,2000,2.578052e+08,125548685.0,1.322566e+08,ACTRESS IN A LEADING ROLE,True,5,253
921,921,2000,2.578052e+08,125548685.0,1.322566e+08,DIRECTING,False,5,253
922,922,2000,2.578052e+08,125548685.0,1.322566e+08,BEST PICTURE,False,5,253
923,923,2000,2.578052e+08,125548685.0,1.322566e+08,WRITING (Screenplay Written Directly for the S...,False,5,253

In [55]:
checkq = pd.read_sql_query('''SELECT * FROM movies''',
                          connection)
checkdf = pd.DataFrame(checkq, columns=checkq.columns)
checkdf

     index                    film
0        0                  avatar
1        1       avengers: endgame
2        2                 titanic
3        3  avengers: infinity war
4        4           the lion king
..     ...                     ...
249    249         the lone ranger
250    250       blade runner 2049
251    251           out of africa
252    252         american hustle
253    253         erin brockovich

[254 rows x 2 columns]